
@import url(
  'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap'
);
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --primary: #1D72C2;
  --light: #FFF;
  --grey: #e8e8e8;
  --dark: #000;
  --cancel: #DE0028;
  --warning: #ffc700;
  --info: #1cc1f5;
  --accept: #429C41;
  --text: var(--primary);
  --theme: var(--light);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
